[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/octostrap3"]
	path = .themes/octostrap3
	url = https://github.com/kAworu/octostrap3
